@{
    ViewData["Title"] = "Update Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form>
    <div class="grid w-[80rem] md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
            <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 ">Large input</label>
            <input type="text" name="floating_first_name" id="floating_first_name" class="block rounded-xl px-2 py-2.5 px-0 w-full border-2 border-solid border-gray-600" placeholder=" " required />
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 ">Large input</label>
            <input type="text" name="floating_first_name" id="floating_first_name" class="block rounded-xl px-2 py-2.5 px-0 w-full border-2 border-solid border-gray-600" placeholder=" " required />
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 ">Large input</label>
            <input type="text" name="floating_first_name" id="floating_first_name" class="block rounded-xl px-2 py-2.5 px-0 w-full border-2 border-solid border-gray-600" placeholder=" " required />
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 ">Large input</label>
            <input type="text" name="floating_first_name" id="floating_first_name" class="block rounded-xl px-2 py-2.5 px-0 w-full border-2 border-solid border-gray-600" placeholder=" " required />
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 ">Large input</label>
            <input type="text" name="floating_first_name" id="floating_first_name" class="block rounded-xl px-2 py-2.5 px-0 w-full border-2 border-solid border-gray-600" placeholder=" " required />
        </div>
    </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
</form>