@model Employee
@using Quiz.Enum;
@{
    ViewData["Title"] = "Update Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="UpdateEmployee" asp-controller="Employee" method="post">
    <div class="grid w-[80rem] md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
            <label for="Name" class="block mb-2 text-sm font-medium text-gray-900 ">Name</label>
            <input type="text" asp-for="Name" class="block rounded-xl px-2 py-2.5 px-0 w-full border-2 border-solid border-gray-600" placeholder=" " />
            <span class="text-red-500" asp-validation-for=" Name"></span>
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <label for="Age" class="block mb-2 text-sm font-medium text-gray-900 ">Age</label>
            <input type="text" asp-for="Age" class="block rounded-xl px-2 py-2.5 px-0 w-full border-2 border-solid border-gray-600" placeholder=" " />
            <span class="text-red-500" asp-validation-for="Age"></span>
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <label for="Skill" class="block mb-2 text-sm font-medium text-gray-900 ">Skill</label>
            <select asp-for="Skill" class="block rounded-xl px-2 py-2.5 px-0 w-full border-2 border-solid border-gray-600" asp-items="@(new SelectList( Enum.GetValues(typeof(Skills))))">
                <option value="">Please Select</option>
            </select>
            <span class="text-red-500" asp-validation-for=" Skill"></span>
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <label for="Status" class="block mb-2 text-sm font-medium text-gray-900 ">Status</label>
            <select asp-for="Status" class="block rounded-xl px-2 py-2.5 px-0 w-full border-2 border-solid border-gray-600" asp-items="@(new SelectList( Enum.GetValues(typeof(Status))))">
                <option value="">Please Select</option>
            </select>
            <span class="text-red-500" asp-validation-for=" Status"></span>
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <label for="Store_id" class="block mb-2 text-sm font-medium text-gray-900 ">Store_id</label>
            <select asp-for="Store_id" class="block rounded-xl px-2 py-2.5 px-0 w-full border-2 border-solid border-gray-600" asp-items="@(new SelectList(ViewBag.StoresList))">
                <option value="">Please Select</option>
            </select>
            <span class="text-red-500" asp-validation-for="Store_id"></span>
        </div>
    </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Update</button>
</form>
