<script src="https://cdn.tailwindcss.com"></script>
<section class="flex items-center h-full p-16 bg-gray-900 text-gray-100">
	<div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
		<div class="max-w-md text-center">
			<h2 class="mb-8 font-extrabold text-9xl text-gray-600">
				<span class="sr-only">Error</span>404
			</h2>
			<p class="text-2xl font-semibold md:text-3xl">Sorry, something went wrong.</p>
		</div>
	</div>
</section>